version: '3'
services:
    nginx:
        image: ${REGISTRY}/${PROJECT}/nginx
        build:
            context: .
            dockerfile: dockerfile-nginx
        container_name: ${PROJECT}-nginx
        environment:
            - VIRTUAL_HOST=${PROJECT}.local
            - TZ=${APP_TIMEZONE}
        command: /bin/sh -c "chown -R 1000:1000 /app && envsubst '$$VIRTUAL_HOST' < /etc/nginx/conf.d/default.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
        restart: always
        depends_on:
            - php
            - mysql
        links:
            - php
    php:
        container_name: ${PROJECT}-php
        image: ${REGISTRY}/${PROJECT}/php
        build:
            context: .
            dockerfile: dockerfile-php
            args:
                - PHP_VERSION=${PHP_VERSION}
                - APP_ENV=${APP_ENV}
        restart: always
        # command: /bin/sh -c "chown -R 1000:1000 /app"
        env_file: .env
        environment:
            TZ: ${APP_TIMEZONE}
            DB_CONNECTION: mysql
            DB_HOST: ${DB_HOST}
            DB_PORT: 3306
            DB_DATABASE: ${DB_DATABASE}
            DB_PASSWORD: ${DB_PASSWORD}
            DB_USERNAME: ${DB_USERNAME}
        depends_on:
            - mysql
            - redis
        links:
            - mysql
            - redis
    mysql:
        image: mysql:5.7
        container_name: ${PROJECT}-mysql
        restart: always
        command: ['--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci']
        environment:
            - TZ=${APP_TIMEZONE}
            - MYSQL_DATABASE=${DB_DATABASE}
            - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
            - MYSQL_USER=${DB_USERNAME}
            - MYSQL_PASSWORD=${DB_PASSWORD}
        volumes:
            - "/docker-data/${PROJECT}/mysql:/var/lib/mysql"
    redis: 
        image: redis:alpine
        container_name: ${PROJECT}-redis
        restart: always
        environment:
            - TZ=${APP_TIMEZONE}
networks:
  default:
    external:
      name: nginx-proxy
